<div class="login-container">
  <div class="login-box">
    <div class="login-form">
      <img src="assets/mat-img-1.png" alt="Logo" class="logo">
      <h2>Iniciar Sesión</h2>

      <mat-form-field appearance="outline" class="full-width">
        <mat-icon matPrefix>mail</mat-icon>
        <input matInput placeholder="Correo..." type="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput placeholder="Contraseña" type="password" />
      </mat-form-field>

      <div class="forgot-password">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>

      <button mat-raised-button color="white" class="login-button">INICIAR SESION</button>

      <div class="register-link">
        <a href="#">¿Eres un club?</a>
      </div>
    </div>

    <div class="login-image">
      <img src="assets/mat-img.png" alt="Padel" />
    </div>
  </div>
</div>
